{% load static %}
<section class="slider_section ">
    <div id="customCarousel1">
      
          <div class="container ">
            <div class="row">
              <div class="col-md-6 ">
                <div class="detail-box">
                  <h1 style="font-family:Monospace	">
                   Storm <br>
                    Chasers
                  </h1>
                  <p style="font-size:18px">
                    Ever wondered how Solar Storms look and impact our world? Now, with our innovative project, you can experience Solar Storms like never before!
                  </p>
                  
                  <div class="btn-box">
                    <a href="https://youtu.be/gugrk3DqLFk" class="btn1" style="color:#00204a">
                      Know More
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                
              </div>
            </div>
          </div>
        </div>
        
       

  </section>