{% extends "base2.html" %}
{% load static %}
{% block content %}
<section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Services</span>
          </h2>
          <p>
            With our innovative project, you can experience Solar Storms like never before!
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/logo/1.png' %}" alt="" class="img-fluid rounded-circle">
              </div>
              <div class="detail-box">
                <h5>
                  3D ANIMATION VIDEO
                </h5>
                <p>
                    We provides easy-to-understand 3D animation videos about sun storms,
                   explaining their causes, effects, and impact on Earth. 
                   engaging content makes solar phenomena accessible to everyone, promoting awareness and education
                </p>
                <a href="" >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/logo/6.jpg' %}" alt="" class="img-fluid rounded-circle">
              </div>
              <div class="detail-box">
                <h5>
                  EASILY ACCESSIBLE
                </h5>
                <p>
                  Discover easily accessible solar storm information with real-time updates, 
                  detailed insights, and interactive animations.
                  Stay informed about sun activity and its impact on Earth, anytime,anywhere.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>          
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/logo/easy.jpg' %}" alt="" class="img-fluid rounded-circle">
              </div>
              <div class="detail-box">
                <h5>
                  DESIGNED TO MAKE LEARNING EASY
                </h5>
                <p>
                  Our services offer easy-to-understand, interactive 3D animations, 
                  simplifying complex solar storm data and space weather
                   concepts to make learning engaging and accessible for everyone
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>


          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/logo/2.png' %}" alt="" class="img-fluid rounded-circle">
              </div>
              <div class="detail-box">
                <h5>
                  Security Storage
                </h5>
                <p>
                  fact that a reader will be distracted by the readable content of a page when looking at its layout.
                  The
                  point of using
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>          
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/logo/5.png' %}" alt="" class="img-fluid rounded-circle">
              </div>
              <div class="detail-box">
                <h5>
                  DESIGNED FOR EVERYONE
                </h5>
                <p>
                  Designed for Everyone: Our Sun Storm Information page offers simple, 
                  engaging content with 3D animation videos, making complex solar phenomena easy to understand for all age groups and learning levels
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s3.jpeg' %}" alt="" class="img-fluid rounded-circle">
              </div>
              <div class="detail-box">
                <h5>
                  Prediction model 

                </h5>
                <p>
                  We have developed a 2025 solar storm prediction model based on 30 years of historical data,
                   utilizing advanced algorithms to forecast solar activity with enhanced accuracy.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s2.jpeg' %}" alt="" class="img-fluid rounded-circle">
              </div>
              <div class="detail-box">
                <h5>
                  Photo of the day 

                </h5>
                <p>
                  We have integrated a NASA Photo of the Day section into our website,
                   providing daily updates featuring curated images from NASA's archive.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s1.jpeg' %}" alt="" class="img-fluid rounded-circle">
              </div>
              <div class="detail-box">
                <h5>
                  Chatbot

                </h5>
                <p>
                  We have developed a personalized chatbot on our website that is designed to answer 
                  both basic and advanced questions related to sunstorms
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s4.jpeg' %}" alt="" class="img-fluid rounded-circle">
              </div>
              
              <div class="detail-box">
                <h5>
                 Platform
                </h5>
                <p>
                  We have developed a website that provides 
                  comprehensive data from NASA as well as detailed information about solar storms
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>




        </div>
       
      </div>
    </div>
  </section>



  <div class="container">
    <a href="https://askstorm.streamlit.app" class="btn  mx-2 fixed-btn" style="
          position: fixed;
          bottom: 20px;
          right: 20px;
          z-index: 1000;
         
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          text-decoration: none;
          background-image: url('{% static 'images/bg2.jpeg' %}'); /* Path to your image */
          background-size: cover;  /* Ensure the image covers the button */
          background-position: center;  /* Center the image */
          background-repeat: no-repeat; /* Prevent image repetition */
          ">
      Ask Solar Storm ?
    </a>
  </div>
  




  

{% endblock content %}


